a {
    text-decoration: none;
    color: inherit;
}
/* Style for the website */
body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* Header/Logo Title */
#header {
    padding: 30px;
    background: #ffbd39;
    color: white;
    display: flex;
}
#header > #imageHeader > a > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:20px;
}
#header > #textHeader {
    flex: 50%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}
#textHeader > h2 {
    margin: 0;
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}
/* Style the navbar buttons */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;

}
#main {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    overflow: hidden;
}
#aboutme {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
}
#research {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
}
#education {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
}
.row {
    display: flex;
    background-color: #f0f0f0;
    margin-top: 20px;
    padding: 20px;
}
.column {
    flex: 50%;
}

.right {
    text-align: right;
    /* align-self: flex-end; this puts text at bottom, but I think I like it at the top */
}

#fun {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
}
#container {
    display: flex;
    background-color: #f0f0f0;
    margin-top: 20px;
}

#imageCol {
    flex: 0 0 330px; /* Set a fixed width for the image column */
    height: 255px;
}

#imageCol > img {
    display: block;
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
}

#textCol {
    flex: 1; /* Allow the text column to grow and take up the remaining space */
    padding: 20px;
    text-align: left;
}

#footer {
    background-color: #ffbd39;
    color: black;
    padding: 10px;
    text-align: center;
}
#footer > p > a > img {
    width: 30px;
    height: 30px;
    vertical-align:middle;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + #aboutme {
    padding-top: 70px;
}

.sticky + #main {
    padding-top: 70px;
}

.left {
    float: left;
    width: 300px;
    height: 255px;
    padding: 0 10px 0 0;
}
#center {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto; 
}
#center > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#center > iframe {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.image-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

img {
    max-height: 400px; /* Set the desired height */
    max-width: 100%; /* Ensure the images don't exceed their container width */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.caption {
    margin-top: 10px; /* Adjust the spacing between the image and caption */
}